<partial name="_Notification" />
@await Html.PartialAsync("_Notification")
@using Bullky.Models.Models;
@model dynamic
<header>
	<nav class="navbar navbar-expand-lg bg-secondary" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">bulky</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a class="nav-link active" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" asp-route-userId="@Model.UserId" asp-controller="UserInfo" asp-action="Index">User profile</a>
					</li>

				</ul>
				<ul class="navbar-nav">
					<li class="nav-item d-flex align-items-center">
						<a class="nav-link" asp-action="Index" asp-controller="Cart" asp-route-userId="@Model.UserId">
							<i class="bi bi-cart3 text-light fs-2"></i>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" asp-area="Home" asp-controller="Home" asp-action="Index"><i class="bi bi-box-arrow-right fs-2"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<body>
	<div class="row pb-3">
		@foreach (var product in Model.ProductList)
		{
			<div class="col-lg-3 col-sm-6">
				<div class="row p-2">
					<div class="col-12 p-1">
						<div class="card border-0 p-3 shadow border-top border-5 rounded">
							<img src="@product.ImageUrl" class="card-img-top rounded" />
							<div class="card-body pb-0">
								<div class="pl-1">
									<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
									<p class="card-title text-warning text-center">@product.Category.Name</p>
									<div class="pl-1">
										<p class=" text-dark opacity-75 text-center">@product.Price.ToString("c")</p>
									</div>

								</div>
							</div>
							<div>
								<a asp-action="Details" asp-route-productId="@product.Id" asp-route-userId="@Model.UserId" class="btn btn-primary bg-gradient border-0 form-control">
									Details
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		}

	</div>
</body>

<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2023 - bulky - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</div>
</footer>